@using ProvaMG.App.Controllers
@{
    Layout = "_Layout1";
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="active">Home</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-9">

                <!-- page-title start -->
                @* <h1 id="forms" class="page-title">Home</h1> *@
                
                <div id="unidadesContent"></div>
                <div id="municipiosContent"></div>
                <div id="paginacaoContent"></div>

            </div>
        </div>
    </div>
</section>

@section Styles {
    <link rel="stylesheet" src="~/lib/noty/noty.css"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous"/>

    <style type="text/css">
        .txtedit {
            display: none;
            width: 99%;
            height: 30px;
        }
    </style>
}

@section Scripts {
    <script src="~/lib/noty/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous"></script>

    <script id="combo-template" type="text/x-handlebars-template">
        <h2>{{titulo}}</h2>
        <select class="form-control" id="{{comboId}}" name="{{comboId}}">
            <option value="">Selecione</option>
            {{#each itens }}
                <option value="{{valor}}" {{#selecionado}} selected="selected" {{/selecionado}} >{{texto}}</option>
            {{/each}}
        </select>
    </script>

    <script id="table-template" type="text/x-handlebars-template">
        <h2>{{titulo}}</h2>
        <table class="table table-hover" id="{{tabelaId}}">
            <thead>
            <tr>
                <th>#</th>
                <th>{{cabecalho_nome}}</th>
            </tr>
            </thead>
            <tbody>
                {{#each itens }}
                     <tr>
                         <td>{{codigo}}</td>
                         <td>
                         {{#editavel}}
                             <a href="#" data-id="{{codigo}}">{{nome}}</a>
                             <input type="text" class="txtedit" value="{{nome}}" id="txtedit_{{codigo}}" data-id="{{codigo}}" />
                         {{else}}
                             {{nome}}
                         {{/editavel}}
                         </td>
                     </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

    <script id="paginator-template" type="text/x-handlebars-template">
        <nav aria-label="Paginação dos resultados">
            <ul class="pagination justify-content-center">
                <!--<li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>-->
                {{#each paginas as |pagina| }}
                    <li class="page-item {{#if (eq pagina ../paginaAtual)}}active{{/if}}"><a class="page-link" href="#" data-pagina="{{pagina}}">{{pagina}}</a></li>
                {{/each}}
                <!--<li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>-->
            </ul>
        </nav>   
    </script>

    <script type="text/javascript">
        jQuery(function($) {
            'use strict';


            Handlebars.registerHelper('eq', function(a, b) {
                    return a === b;
                });

            var util = {
                gerarPaginas: function(paginaAtual, paginaFinal) {
                    var min = 1;
                    var max = paginaFinal;

                    var arr = [];
                    for (let i = min; i <= max; i += 1) {
                        arr.push(i);
                    }

                    return arr;
                },

                gerarPaginasComLimite: function(paginaAtual, paginaFinal, limite) {
                    var min = paginaAtual -limite;
                    while(min <= 0){
                        min++;
                    }
                    var max = paginaAtual +limite;
                    while(max > paginaFinal){
                        max--;
                    }
                    var arr = [];
                    for (let i = min; i <= max; i += 1) {
                        arr.push(i);
                    }

                    return arr;
                }

            };

            var service = {
                obterUnidadesSync: function(){
 
                    var result = $.ajax({ 
                        url: '@Url.Action("ObterUnidades")', 
                        dataType: 'json', 
                        async: false
                    }).responseJSON;

                    return result;
                },
                obterUnidades: function(callback) {
                    $.getJSON('@Url.Action("ObterUnidades")', function(data){
                        callback(data);
                    });
                    
                },
                obterMunicipios: function(uf, pagina, callback) {
                    if (uf != null && uf !== '') {
                        $.getJSON('@Url.Action("ObterMunicipiosPor")', { uf: uf, pagina: pagina }, function(data) {
                            callback(data);
                        });
                    }
                },

                editar: function(municipioCodigo, municipioNovoNome) {
                    // TODO Waiting?
                    $.post('@Url.Action("AlterarNomeMunicipio")', { codigo: municipioCodigo, novoNome: municipioNovoNome }, function(data) {
                                if (data != null && !jQuery.isEmptyObject(data)) {
                                    
                                }

                                console.log('TUDO CERTO!');

                                // TODO Notify

                                /*
                                var n = Noty({
                                    text: 'NOTY - a jquery notification library!',
                                    animation: {
                                        open: {height: 'toggle'},
                                        close: {height: 'toggle'},
                                        easing: 'swing',
                                        speed: 500 // opening & closing animation speed
                                    }
                                });
                                */
                            })
                        .fail(function() {
                            // TODO Error
                            alert("error");
                        });
                }                
            };

            var App = {
                init: function () {
                    this.unidadesTemplate = Handlebars.compile($("#combo-template").html());
                    this.municipiosTemplate = Handlebars.compile($("#table-template").html());
                    this.paginacaoTemplate = Handlebars.compile($("#paginator-template").html());

                    this.bindEvents();
                    this.render();
                },

                bindEvents: function() {

                },

                render: function () {
                    service.obterUnidades(this.renderUnidades);
                },

                renderUnidades : function(data){
                        // TODO loading
                        //grupoContent.html(``);

                        var _content = $("#unidadesContent");

                        var unidades = $.map(data, function(item) {
                                return { valor: item, texto: item }
                            });

                        _content.html(App.unidadesTemplate({
                            titulo: 'Unidades',
                            comboId: 'unidades',
                            itens: unidades
                        }));

                        _content.find('#unidades').select2({
                            placeholder: "Selecione um estado",
                            //dropdownAutoWidth: true
                            width: '30%'
                        });
                            

                        _content.on("change", "select", function(e) {
                                e.preventDefault();
                                App.carregarMunicipios($(this).val());
                            }
                        );

                },

                editarMunicipio: function(elem) {
                    
                    var municipioCodigo = elem.attr('data-id');
                    var municipioNovoNome = elem.val();

                    // TODO Waiting?
                    elem.hide();

                    elem.prev('a').show();
                    elem.prev('a').text(municipioNovoNome);

                    service.editar(municipioCodigo, municipioNovoNome);
                },

                renderMunicipios: function(data){
                    if (data != null && !jQuery.isEmptyObject(data)) {

                        var _content = $("#municipiosContent");

                        _content.html('');

                        var municipios = $.map(data.results,
                            function(item) {
                                return {
                                    codigo: item.codigo,
                                    nome: item.nome,
                                    editavel: item.editavel
                                }
                            });

                        var municipiosData = {
                            titulo: 'Municípios',
                            tabelaId: 'municipios',
                            cabecalho_nome: "Nome",
                            itens: municipios,
                            
                        };

                        _content.html(App.municipiosTemplate(municipiosData));

                        var paginacaoData = { 
                            paginas: util.gerarPaginas(data.currentPage, data.pageCount),
                            paginaAtual:  data.currentPage
                        };

                        App.renderPaginacao(paginacaoData);

                        _content.on("click", "table tbody a", function(event) {
                                event.stopImmediatePropagation();

                                var elem = $(this);
                                elem.next('.txtedit').show().focus();
                                elem.hide();

                            });

                        _content.on("keypress", "table tbody input.txtedit", function(event){
                            event.stopImmediatePropagation();

                            // PRESS ENTER
                            if ( event.which == 13 ) {
                                event.preventDefault();
                                App.editarMunicipio($(this));
                            }

                        });

                        _content.on("focusout", "table tbody input.txtedit", function(event){
                            event.stopImmediatePropagation();

                            App.editarMunicipio($(this));

                        });

                    }                    

                },

                renderPaginacao: function(data){

                    var _content = $("#paginacaoContent");

                    _content.html('');

                    _content.html(App.paginacaoTemplate(data));
                    
                    _content.on("click","nav ul li.page-item a", function(event) {
                            event.stopImmediatePropagation();

                            var elem = $(this);
                            var indicePagina = elem.data('pagina');

                            App.paginar(indicePagina);

                            return false;
                        });
                },

                carregarMunicipios: function(unidadeFederativa) {
                    service.obterMunicipios(unidadeFederativa, 1, this.renderMunicipios);
                },

                paginar: function(indice) {
                    var unidadeFederativa = $("#unidades").val();
                    service.obterMunicipios(unidadeFederativa, indice, this.renderMunicipios);
                }

            } // App

            App.init();

        });

    </script>
}